* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/*area da img*/
.illustration {
  flex: 1;
  background-image: url('https://media.licdn.com/dms/image/v2/C561BAQFlZUENewXaNg/company-background_10000/company-background_10000/0/1614719794279/cbaityhy_cover?e=2147483647&v=beta&t=5IPOQVIM58MhL-xlqrrJA-6u5mIrgEOPqAf77QUAs04'); /* Substitua pelo caminho correto */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Área de login */
.login {
  width: 400px;
  background-color: #fff;
  padding: 60px 40px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.login p {
  margin-bottom: 30px;
  font-size: 14px;
  color: #666;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

.login input[type="email"],
.login input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login .remember {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.login button {
  background-color: #7a5ff0;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px
}